*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#3E23FF;
    padding: 50px;
    height: 100px;
}
#logo{
    position: absolute;
    top: 65px;
    padding-left: 70px;
    padding-right: 700px;
    color: white;
    font: normal normal bold 24px/35px Poppins;
    letter-spacing: 0px;
    opacity: 1;
}
ul{
    display: flex;
    float: right;
    top: 69px;
    left:40%;
    width: 679px;
    height: 24px;
    position: absolute;
    justify-content: right;
    list-style: none;
    
}
.nav{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    
    
}
#get-App{
    background-color: #48D4A5;
    position: absolute;
    top: 51px;
    left: 80%;
    border-radius: 189px;
    width: 179px;
    height: 62px;
    text-align: center;
   
}
.big-text{
    position: absolute;
    top: 283px;
    left: 20%;
    width: 60%;
    height: 237px;
    text-align: center;
    font: normal normal bold 90px/110px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.small-text{
    position: absolute;
    top: 550px;
    left: 22%;
    width: 976px;
    height: 81px;
    font: Raleway;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.rect{
    position: absolute;
    margin: 0;
    top: 239px;
    left: 5%;
    width: 175px;
    height: 182px;
}
.down-blob{
    position: absolute;
    top: 450px;
    left: 70%;
    width: 256px;
    height: 256px;
}
.middle-small-blob{
    position: absolute;
    top: 166px;
    left: 693px;
    width: 22px;
    height: 22px;
}
.right-round-blob{
    position: absolute;
    top: 239px;
    left: 75%;
    width: 44px;
    height: 44px;
}
.left-round-blob{
    position: absolute;
    top: 514px;
    left: 50px;
    width: 44px;
    height: 44px;
}
.how-simple{
    width: 100%;
    text-align: center;
}
.how-it-works{
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #222A41;
    opacity: 1;
}
.simple-and-fast{
    font: normal normal normal 45px/51px Poppins;
    letter-spacing: 0px;
    color: #222A41;
    opacity: 1;
}
.three-flex{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10px;
}
.simple-div{
    width: 100%;
    text-align: center;
}
.div-img{
    /* position: relative; */
    width: 250px;
    height: 253px;
    

}
.share-link{
    text-align: center;
    font: normal normal normal 24px/32px Poppins;
    letter-spacing: 0px;
    color: #222A41;
    opacity: 1;
}
.share-text{
    text-align: center;
    font: normal normal normal 15px/24px Raleway;
    letter-spacing: 0px;
    color: #6D7783;
    opacity: 1;
}
.expect-div{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 150px;
    margin-bottom: 50px;
    background-color: #3E23FF;
}
.feature-div{
    width:100%;
}
.feature{
    text-align: left;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.feature-big-text{
    text-align: left;
    font: normal normal normal 60px/80px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.feature-text{
    text-align: left;
    font: normal normal normal 15px/24px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.phone{
    position: relative;
    top: -400px;
}
.app-icon{
    text-align: left;
    margin-top: 100px;
    margin-right: 10px;
}